body {
    width: 100vw;
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.w-100 {
  width: 100%;
}
.custom-header {
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-right {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.p-1 {
  padding: 1em;
}
.mr-4 {
  margin-right: 4em;
}
.mt-2 {
  margin-top: 2em;
}
.max-width {
  max-width: 1400px;
  margin: 0 auto;
}
.card {
  border-radius: 2px;
  border: 1px solid #cecece;
  margin: 9px 2em;
  height: fit-content;
}
.text-center{
  text-align: center;
}
.heigth-person {
  max-height: 400px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.b-write {
  background: #fff !important;
}